{######################}
{### <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5923374708970560"
     crossorigin="anonymous"></script> ###}
{######################}
<!-- 侧边长幅 -->
<ins class="adsbygoogle"
    style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-5923374708970560"
     data-ad-slot="4634751176"></ins>
<script>
     function runGoogleAds() {
        setTimeout(function() {
          (adsbygoogle = window.adsbygoogle || []).push({});
        }, 2000);
    };
    if (window.addEventListener)
        window.addEventListener("load", runGoogleAds, false);
    else if (window.attachEvent)
        window.attachEvent("onload", runGoogleAds);
    else window.onload = runGoogleAds;
</script>